<head><link rel="stylesheet" href="../css/results.css"></head>
<div id="searchWindow">
    <h1>STOCKFINDER</h1>
    <form method="get" action="search?searchStr=">
        <div id="searchContainer">
            <input type="text" value="<%=searchStr%>" name="searchStr">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
<div id="searchControls">

</div>
<div id="searchResults">
    <table class="table text-white">
        <tr>
            <th>#</th>
            <th>Company</th>
            <th>Ex</th>
            <th>Mkt Cp</th>
            <th>Price</th>
            <th>Change</th>
            <th>Yesterday Vol</th>
            <th>Profit</th>
            <th>RPS</th>
            <th>5-yr Div %</th>
            <%if (locals.currentUser) {%>
                <th></th>
            <%}%>
        </tr>
        <% stocks.forEach(stock => { %>
            <tr>
                <td><%= stock.core.symbol %></td>
                <td><a href="stock/<%= stock.core.symbol %>"><%= stock.core.name %></a></td>
                <td><%= stock.core.exchange %></td>
                <td><%= stock.formatValue(stock.core.marketCap) %></td>
                <td><%= stock.core.currentPrice %> <small class="opacity20">(<%=moment(stock.searchDate).fromNow()%>)</small></td>
                <td>
                    <% if (stock.core.priceChange < 0) { %>
                        <span class="red"><%= Math.floor(stock.core.priceChange*10000)/100%>%</span>
                    <%} else if (stock.core.priceChange > 0) { %>
                        <span class="green"><%= Math.floor(stock.core.priceChange*10000)/100%>%</span>
                    <%}%>
                </td>
                <td><%= stock.formatValue(stock.core.volume) %></td>
                <td>
                    <% if (stock.core.grossProfit < 0) { %>
                        <span class="red"><%= stock.formatValue(stock.core.grossProfit)%></span>
                    <%} else if (stock.core.grossProfit > 0) { %>
                        <span class="green"><%= stock.formatValue(stock.core.grossProfit)%></span>
                    <%}%>
                </td>
                <td><%= stock.core.revenuePerShare %></td>
                <td>
                    <% if (stock.core.dividendYield) { %>
                        <%= stock.core.dividendYield %>%
                    <%} else { %>
                        n/a
                    <%}%>
                </td>
                <%if (locals.currentUser && locals.currentUser.stocksFollowed.includes(stock._id)) {%>
                    <td><a href="unfollow?symbol=<%= stock.core.symbol %>">Unfollow</a></td>
                <%} else if (locals.currentUser) {%>
                    <td><a href="follow?symbol=<%= stock.core.symbol %>">Follow</a></td>
                <%}%>
            </tr>
        <%})%>
    </table>
</div>